* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/home-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(6px); */
}

.container {
    display: flex;
    width: 1000px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 650px;
    margin-top: 45px;
    justify-items: center;
}

header h1 {
    text-align: center;
    font-size: 3rem;
}

.menu-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 10px auto;
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
}

.menu-container li:hover {
    background-color: rgba(255, 255, 255, 0.183);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

i {
    width: 30px;
    justify-self: center;
    text-align: center;
    margin-right: 8px;
}

.menu-container li p {
    width: 49px;
}

.banner-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 130px;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.banner-section i {
    margin: 0 auto;
    width: 80px;
}

.banner-section p {
    display: block;
    width: 104px;
    margin: 0 auto;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.searchbar-container input {
    width: 90%;
    height: 28px;
    border: none;
    padding-left: 5px;
    opacity: .8;
    color: rgb(44, 44, 44);
}

.searchbar-container input:focus {
    outline: none;
}

.fa-magnifying-glass {
    color: #FF9839;
}

main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.105);
    border-radius: 15px 0 0 15px;
    backdrop-filter: blur(8px);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 650px;
    margin-top: 50px;
}

.main-content h2 {
    display: block;
    width: 550px;
    margin: 0 auto;
    justify-content: center;
    font-size: 2rem;
}

.recommendations-background {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 220px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.105);
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.recommendations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 530px;
    height: 190px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cards-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 135px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.105);
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
    border-radius: 8px;
}

.cards-container img {
    width: 80px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.fa-angle-left {
    margin: 0 auto;
}

.fa-angle-right {
    margin: 0 auto;
}

.deal-card {
    width: 550px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.231);
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.best-deals-container {
    display: flex;
    height: 220px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.card-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.231);
}

.card-header p {
    padding-left: 12px;
    font-size: 1.2rem;
}

.card-data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 12px;
}

.data-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    text-align: start;
}

.card-data span {
    display: block;
    width: 1px;
    height: 40px;
    background-color: white;
}
.card-data button {
    width: 80px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #FF9839;
}

.data-first-section i {
    width: 50px;
}

.profile-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 641px;
    background-color: rgba(255, 255, 255, 0.233);
    margin-top: 50px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-pic a img {
    width: 90px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.profile-info-container {
    text-align: center;
}

.username {
    font-size: 1.8rem;
    margin-bottom: 6px;
    font-weight: bold;
}

.reminders-title {
    font-size: 1.8rem;
    padding-bottom: 10px;
}

.reminder-card {
    display: flex;
    width: 180px;
    height: 45px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.231);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(46, 46, 46, 0.215);
}

.icon-size {
    width: 40px;
    padding-left: 8px;
}