* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(238, 238, 238);
}

.main-login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.greetings-section {
    text-align: center;
}

.greetings-section h1 {
    font-size: 2.5rem;
    color: rgb(59, 59, 60);
    margin-bottom: 5px;
}

.greetings-section p {
    font-size: 1.4rem;
    color: rgb(109, 110, 113);
}

.input-container {
    display: block;
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.input-container-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-container-form input {
    height: 45px;
    margin: 8px 0;
    border-radius: 7px;
    border: none;
    padding: 6px;
    padding-left: 15px;
    font-size: 1.2rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.input-container-form p {
    text-align: end;
    color: rgb(109, 110, 113);
    font-weight: 500;
}

.input-container-form a {
    text-decoration: none;
}

.input-container-form button {
    height: 45px;
    margin: 8px 0;
    border-radius: 7px;
    background-color: rgb(245, 124, 2);
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.continue-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-section p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(109, 110, 113);
    margin: 0 15px;
}

.continue-section-line {
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgba(109, 110, 113, 0.487);
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    height: 80px;
}

.social-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: solid white;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.fa-brands {
    color: rgb(109, 110, 113);
}

.main-banner-section {
    display: none;
}

.return {
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(109, 110, 113);
}